* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: black;
  font-size: 16px;
  color: #fff;
}
.container {
 background-color: rgba(240, 60, 60, 0.8);
}
header {
  margin-bottom: 20px;
  border-bottom: 4px solid #900;
}

a, a:focus{
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font-size: 3em;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
}
.nav-menu>li>a {
  padding: 10px 15px;
  font-weight: bold;
}
.nav-menu>li>a:hover {
  background: #fff;
  color: #c00;
  text-decoration: none;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  height: 325px;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}
